// Fixes sizing issue when inside <Link> tags.
a {
    height: 100%;
}

.roundedButton {
    text-decoration: none;
    background: black;
    border-radius: 35px;
    color: white;
    padding: 0 1rem;
    font-weight: 600;
}